.button-box{
    width:55px;
    height:55px;
    border-radius:6px;
    font-size: large;
    /* text-align: center; */
}

.button-div{
    display:grid;
    grid-template-columns:repeat(4,23%);
    gap:7px
}